.main {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg");
padding-top: 160px;

}
