.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #d6ccc2;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: black;
}
