.layout {
  display: grid;
  grid-template-columns: 25% 75%;
}

.sidebar {
  height: 100vh;
  padding: 0 2rem;
  background-color: #edede9;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar li {
  padding: 1rem;
  color: white;
}

.sidebar a {
  color: black;
  text-decoration: none;
}
