.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  align-items: center;
  opacity: .7;
  width: 100%;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: black;
}
